@charset "UTF-8";
/* Обнуление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------*/
.vertical__subtitle, .vertical__label {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info {
  background-color: #8198b8;
}

.info__row {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 470px;
          flex: 0 1 470px;
}

.info__img img {
  width: 100%;
  height: 250px;
}

.info__body {
  color: #fff;
  padding-right: 10px;
}

.info__title {
  font-size: 60px;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  margin: 0px 0px 38px 0px;
}

.info__list li {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
}

.info__list li:last-child {
  margin-bottom: 0;
}

.info__list li::before {
  content: url("../img/check_icon.png");
  width: 25px;
  margin-right: 10px;
}

.about__row {
  padding: 50px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

.about__img img {
  width: 100%;
}

.about__body {
  margin-left: 38px;
}

.about__title {
  margin-bottom: 28px;
}

.about__text p {
  margin-bottom: 31px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.flex-column {
  background-color: #f5f5f5;
  padding: 50px 0px 20px 0px;
}

.flex-column__title {
  margin-bottom: 28px;
  text-align: center;
}

.flex-column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

.flex-column__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 8px;
  margin: 0px 0px 30px 0px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.item__img img {
  width: 100%;
}

.item__body {
  margin-left: 15px;
}

.item__title {
  font-size: 24px;
  line-height: 30px;
  color: #445161;
  margin-bottom: 12px;
}

.vertical {
  padding: 50px 0px;
}

.vertical__title {
  text-align: center;
  margin-bottom: 26px;
}

.vertical__body {
  max-width: 995px;
  margin: 0 auto;
}

.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px;
}

.vertical__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 22.5px;
}

.vertical__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #445162;
  border: 2px solid #445162;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertical__subtitle {
  padding: 12px 0px;
}

.vertical__label {
  padding: 19px 0px;
  color: #445162;
  background-color: #fff;
}

.vertical__text {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.vertical__text p {
  margin-bottom: 30px;
}

.vertical__text p:last-child {
  margin-bottom: 0;
}

.vertical__btn {
  padding: 8px 0px;
  display: block;
  margin: 20px;
  background: #fff;
  color: #445162;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
}

.footer {
  background-color: #f5f5f5;
}

.footer__row {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 20px;
  color: #445162;
}
