// Обнуляющие стили
@import "_nullStyle.scss";


body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}
.container{
    max-width: 1185px;
    width: 100%;
    margin: 0 auto;
}
.title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 1 auto;
}
.info {
    &{
        background-color: #8198b8;
    }

    &__row {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
    }

    &__img {
        flex: 0 1 470px;
        & img{
            width: 100%;
            height: 250px;
        }
    }


    &__body {
        color: #fff;
        padding-right: 10px;
    }

    &__title {
        font-size: 60px;
        line-height: 1.2;
        text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
        margin: 0px 0px 38px 0px;
    }

    &__list {
        & li{
            text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
            margin-bottom: 8px;
            &:last-child{
                margin-bottom: 0;
            }
            &::before{
                content: url('../img/check_icon.png');
                width: 25px;
                margin-right: 10px;
            }
        }
        
    }
}
.about {

    &__row {
        padding: 50px 0px 40px 0px;
        display: flex;}

    &__img {
        flex: 0 0 430px;
        & img {
            width: 100%;
        }
    }

    &__body {
        margin-left: 38px;
    }

    &__title {
        margin-bottom: 28px;
    }

    &__text {
        & p{
            margin-bottom: 31px;
        }
        & p:last-child{
            margin-bottom: 0;
        }
    }
}
.flex-column {
    &{
        background-color: #f5f5f5;
        padding: 50px 0px 20px 0px;
    }

    &__title {
        margin-bottom: 28px;;
        text-align: center;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
    }

    &__item {
        flex: 1 1 50%;
        padding: 0 8px;
        margin: 0px 0px 30px 0px;
    }
}
.item {
     
    &__row {
        display: flex;
       
    }

    &__img {
        flex: 0 0 200px;
        & img {
            width: 100%;
        }
    }

    &__body {
        margin-left: 15px;
    }

    &__title {
        font-size: 24px;
        line-height: 30px;
        color: #445161;
        margin-bottom: 12px;
    }

    &__text {
    }
}


.footer {
    
    &{
        background-color: #f5f5f5;
    }

    &__row {
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        font-size: 20px;
        color: #445162;
    }
}
