// Обнуляющие стили
@import "_nullStyle.scss";


body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.container{
    max-width: 1185px;
    width: 100%;
    margin: 0 auto;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 1 auto;
}
.info {
    background-color: #8198b8;

		&__row {
            padding: 50px 0;
            display: flex;
            justify-content: space-between;
		}

		&__img {
            flex: 0 1 470px;
		}
        &__img img{
            width: 100%;
            height: 250px;
        }

		&__body {
            color: #fff;
		}

		&__title {
            font-size: 60px;
            line-height: 1.2;
            text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
            margin: 0px 0px 38px 0px;
		}

		&__list {
            & li{
                text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
                margin-bottom: 8px;
            }
            & li:last-child{
                margin-bottom: 0;
            }
            & li::before{
                content: url('../img/check_icon.png');
                width: 25px;
                margin-right: 10px;
            }
		}
}
.footer {
    background-color: #f5f5f5;

		&__row {
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
		}

		&__text {
            font-size: 20px;
            color: #445162;
		}
}
